@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 100;
    line-height: 20px;
}
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    cursor: pointer;
}
.logo span{
    font-size: 38 px;
    color: #9a533d;
}
.navbar-menu a{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 35px;
    display: inline-block;
}
.navbar-menu a::after{
    content: '';
    display: block;
    width: 0;
    height: 1.8px;
    background-color: #9a533d;
    transition: width .3s;
}
.navbar-menu a:hover::after{
    width: 100%;
}
#home{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content1{
    background-color: #140b08;
}
.content2{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)),url(images/img1.jpeg);
    background-position: center;
    background-size: cover;
}
#home .content1 .content{
    color: #fff;
    padding-left: 40px;
    margin-top: 200px;
    text-align: left;
    width: 450px;
}
.content h1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 6px;
    margin-bottom: 20px;
    font-family: 'Raleway',sans-serif;
}
.content p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1.1px;
    font-family: 'Raleway',sans-serif;
}
.content button{
    padding: 17px 25px;
    margin-top: 50px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.534);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-family: 'Raleway',sans-serif;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}
.content button:hover{
    background-color: #9a533d;
    border-color: #9a533d;
    font-weight: 500;
}
.social-container{
    position: absolute;
    bottom: 50px;
    left: 40px;
}
.social-icons{
    list-style: none;
}
.social-icons li{
    margin: 0 15px;
    display: inline;
}
.social-icons li i{
    color: #fff;
    font-size: 20px;
}
.social-icons li a:hover i{
transform: scale(1.5);
color: #9a533d;
transition: all .2s ease-in-out;
}
.content2 h1{
    writing-mode: vertical-rl;
    position: absolute;
    right: 20px;
    bottom: 80px;
    font-size: 80px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    color: #fff;
    letter-spacing: 8px;
}
.content2 h1 span{
    color: #9a533d;
}